html {
    font-size: 24pt;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Avenir, Avenir Next, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

input:focus, textarea:focus {
    border-bottom: 1px solid #EC3F83 !important;
    box-shadow: 0 1px 0 0 #EC3F83 !important;
}

.vote-count {
    font-size: 0.7rem;
}

.xconf-title {
    color: #772F6A;
    font-size: 1.3rem !important;
    line-height: 1.5rem;
    text-align: center;
}

.topic {
    height: 200px;
    overflow-y: auto;
}

.small {
    font-size: xx-small;
}

.small .topic {
    height: 100px;
}

.consolidated-topic {
    height: 600px !important;
    border: solid 1px lightpink;
}
