html {
    font-size: 24pt;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Avenir, Avenir Next, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

input:focus, textarea:focus {
    border-bottom: 1px solid #EC3F83 !important;
    box-shadow: 0 1px 0 0 #EC3F83 !important;
}

.card-header {
    margin-top: 16px;
    padding: 16px;
}

.input-field small {
    margin-left: 8px;
}

.tap-icon {
    width: 32px;
    margin-right: 16px;
}

.vote-hint {
    font-size: 0.8rem;
    line-height: 1rem;
}

.xconf-title {
    color: #772F6A;
    font-size: 1.3rem !important;
    line-height: 1.5rem;
    text-align: center;
}

.topic {
    height: 200px;
    overflow-y: auto;
}

.small {
    font-size: xx-small;
}

.small .topic {
    height: 100px;
}

.consolidated-topic {
    height: 600px !important;
    border: solid 1px lightpink;
}

h5 {
    margin: 0;
}

.timer-label-240 {
    font-size: 0.75rem;
}

.conference-select .conference-item {
    font-size: 1rem;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.conference-select .extra-details {
    color: gray;
    margin: 8px 0 0;
}

.conference-select .presenters > span:not(:last-child):after {
    content: ',';
}

.conference-select .conference {
    line-height: 1rem;
}

.topic-content {
    display: flex;
}

.topic-container {
    flex: 1 0;
}

.topic-vote-button {
    flex-basis: 56px;
}

.topic-vote-button .vote-icon {
    width: 56px;
}

.topic-for-vote {
    line-height: 1.2rem;
    margin-bottom: 8px;
}

.topic-context {
    line-height: 0.75rem;
}

.vote-count {
    font-size: 0.7rem;
    font-weight: bold;
    color: white;
}

.feedback-faces {
    margin-top: 32px;
    display: flex;
    justify-content: space-evenly;
}

.feedback-icon {
    width: 112px;
    height: 112px;
}

.feedback-feelings label {
    font-size: 1rem;
}

.feedback-prompt {
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 8px;
}

.feedback-card {
    text-align: center;
}

.feedback-card .card-content {
    height: 250px;
    overflow: auto;
    text-align: left;
}

.feedback-card .feedback-icon {
    width: 60px;
    height: 60px;
}

.feedback-card .feedback-content {
    font-size: 14pt;
}

.alert-message {
    margin: 24px 0;
    width: 100%;
    padding: 8px 16px;
}

.credits {
    font-size: 0.7em;
}
.credits .authors {
    font-size: 0.8em;
    color: dimgray;
}
